<div class="message-box" data-message-box></div>

<form class="message" data-form>
  <textarea class="message__field" name="send" rows="1"></textarea>

  <button class="message__button" type="submit">
    <img src="/public/img/send.svg" alt="send icon" />
  </button>
</form>

<script>
  const userData = '<%- JSON.stringify(user) %>';
</script>
