// gradient font colr
@mixin gradient-font-clr($gradient) {
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; // fallback
}
