// CSS3 Viarables
:root {
  --clr-neutral-100: 248 249 252;
  --clr-neutral-200: 191 200 234;
  --clr-neutral-700: 84 80 81;
  --clr-primary: 91 103 162;
  --clr-accent: 68 64 179;

  --clr-blue: 0 201 255;
  --clr-green: 146 254 157;
}
